

.jumbotron {
    padding-left: 32rem;

}
img {
    width: 130px;
   
    padding-bottom: 10px;
    padding-right: 15px;
    float: left;
   
}
h1 {
    padding-left: 10rem;
 }
 
.jumbotron p {

        padding-top: 15px;

}
        