
h1 
{ text-align: center;}

img {
    width: 130px;
   
    padding-bottom: 10px;
    padding-right: 15px;
    float: left;
   
}
.navbar {
    background-color: #1d6cc0 !important;
}

h1 {
    padding-left: 10rem;
 }
 
.jumbotron p {

        padding-top: 15px;

}
        